<h1>Log in</h1>
<% flash.each do |key, value| %>
  <%= content_tag(:div, value, class:"#{key}") %>
<% end %>

<%= form_with(scope: :session, url: sessions_path, local: true) do |form| %>
  <table>
    <tr>
      <th><%= form.label :email, t("user.email") %></th>
      <td><%= form.email_field :email %></td>
    </tr>
    <tr>
      <th><%= form.label :password, t("user.password") %></th>
      <td><%= form.password_field :password %></td>
    </tr>
  </table>
  <%= form.submit "Log in" %>
<% end %>
