<div class="container">
  <% flash.each do |key, value| %>
    <%= content_tag(:div, value, class:"#{key}") %>
  <% end %>

  <h3>Log in</h3>

  <%= form_with(scope: :session, url: sessions_path, local: true) do |form| %>
    <table>
      <tr>
        <th class="col-md-2"><%= form.label :email, t("user.email") %></th>
        <td><%= form.email_field :email %></td>
      </tr>
      <tr>
        <th class="col-md-2"><%= form.label :password, t("user.password") %></th>
        <td><%= form.password_field :password %></td>
      </tr>
      <tr>
        <th class="col-md-2"></th>
        <td><br><%= form.submit "Log in", class: 'btn btn-default' %></td>
      </tr>
    </table>
  <% end %>
</div>
