<h3><%= t('action.edit') %></h3>

<%= form_with(model: @task, local: true) do |form| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="task">
    <%= form.label :name, t("task.name") %>
    <%= form.text_field :name %>
  </div>
  <div class="task">
    <%= form.label :content, t("task.content") %>
    <%= form.text_area :content %>
  </div>
  <div class="task">
    <%= form.label :limit, t("task.limit") %>
    <%= form.date_field :limit %>
  </div>
  <br>
  <%= form.submit %>
  <br>
<% end %>
<%= link_to t('action.back'), tasks_path %>
