<div class="container">
  <h3><%= link_to t('task.list'), tasks_path %></h3>
  <p><%= flash[:success] %></p>
  <br>
  <%= form_with(model: Task.new, url: tasks_path, local: true, method: 'get') do |form| %>
    <div class="task_search">
      <%= form.text_field :name, placeholder: t('action.name_search') %>　
      <%= form.select :status, ["未着手", "着手", "完了"], prompt: t('action.status_search') %>　
      <%= form.select :label_id, @labels.pluck(:name), prompt: t('action.label_search') %>
      <%= form.hidden_field :search, value: 'true' %>　
      <%= form.submit "search" %>
    </div>
  <% end %>
  <br>
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="col-md-2"><%= t('task.name') %></th>
        <th class="col-md-2"><%= t('task.content') %></th>
        <th class="col-md-2"><%= t('activerecord.models.label') %></th>
        <th class="col-md-1"><%= t('task.limit') %></th>
        <th class="col-md-1"><%= t('task.status') %></th>
        <th class="col-md-1"><%= t('task.priority') %></th>
        <th class="col-md-1"><%= t('action.show') %></th>
        <th class="col-md-1"><%= t('action.edit') %></th>
        <th class="col-md-1"><%= t('action.delete') %></th>
      </tr>
    </thead>
    <% @tasks.includes([:labels], [:labels]).each do |task| %>
      <tr>
        <td><%= task.name %></td>
        <td><%= task.content %></td>
        <td>
          <% task.labels.each do |label| %>
            <%= label.name %>
          <% end %>
        </td>
        <td><%= task.limit %></td>
        <td><%= task.status %></td>
        <td><%= task.priority %></td>
        <td><%= link_to t('action.show'), task_path(task.id) %></td>
        <td><%= link_to t('action.edit'), edit_task_path(task.id) %></td>
        <td><%= link_to t('action.delete'), task_path(task.id), method: :delete %></td>
      </tr>
    <% end %>
  </table>
  <%= paginate @tasks %>
</div>
