<div class="container">
  <h3><%= t('task.content') %></h3>
  <br>
  <div class="row">
    <table class="show">
      <tr>
        <th><%= t("task.name") %></th>
        <td><%= @task.name %></td>
      </tr>
      <tr>
        <th><%= t("task.content") %></th>
        <td><%= @task.content %></td>
      </tr>
      <tr>
        <th><%= t("task.limit") %></th>
        <td><%= @task.limit %></td>
      </tr>
      <tr>
        <th><%= t("task.status") %></th>
        <td><%= @task.status %></td>
      </tr>
      <tr>
        <th><%= t("task.priority") %></th>
        <td><%= @task.priority %></td>
      </tr>
      <tr>
        <th><%= t('activerecord.models.label') %></th>
        <td>
          <% @task.labels.each do |label| %>
            <%= label.name %>
          <% end %>
        </td>
      </tr>
    </table>
    <div class="show_btn">
      <%= link_to t('action.back'), tasks_path, class: 'btn btn-default' %>
    </div>
  </div>
</div>
