<div class="container">
  <h3><%= t('activerecord.models.user') %><%= t('action.edit') %></h3>
  <br>

  <%= form_with(model: @user, local: true, url: admin_user_path(@user.id) ) do |form| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <table>
      <tr>
        <th class="col-md-3"><%= form.label :name, t("user.name") %></th>
        <td><%= form.text_field :name %></td>
      </tr>
      <tr>
        <th class="col-md-3"><%= form.label :email, t("user.email") %></th>
        <td><%= form.email_field :email %></td>
      </tr>
      <tr>
        <th class="col-md-3"><%= form.label :password, t("user.password") %></th>
        <td><%= form.password_field :password %></td>
      </tr>
      <tr>
        <th class="col-md-3"><%= form.label :password_confirmation, t("user.password_confirmation") %></th>
        <td><%= form.password_field :password_confirmation %></td>
      </tr>
      <tr>
        <th class="col-md-3"><%= form.label :admin, t("admin.user") %></th>
        <td>
          <label><%= form.radio_button :admin, true %>　<%= t("admin.true") %></label>　　
          <label><%= form.radio_button :admin, false %>　<%= t("admin.false") %></label>
        </td>
      </tr>
    </table>
    <div class="new_btns">
      <%= link_to t('action.back'), admin_users_path, class: 'btn btn-default' %>　
      <%=form.submit t('action.edit'), class: 'btn btn-default' %>
    </div>
  <% end %>
