<div class="container">
  <h3><%= t('action.create') %></h3>
  <br>

  <%= form_with(model: @user, local: true, url: admin_users_path ) do |form| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <table>
      <tr>
        <th><%= form.label :name, t("user.name") %></th>
        <td><%= form.text_field :name %></td>
      </tr>
      <tr>
        <th><%= form.label :email, t("user.email") %></th>
        <td><%= form.email_field :email %></td>
      </tr>
      <tr>
        <th><%= form.label :password, t("user.password") %></th>
        <td><%= form.password_field :password %></td>
      </tr>
      <tr>
        <th><%= form.label :password_confirmation, t("user.password_confirmation") %></th>
        <td><%= form.password_field :password_confirmation %></td>
      </tr>
      <tr>
        <th><%= form.label :admin, "管理者権限" %></th>
        <td>
          <label><%= form.radio_button :admin, true %>　有り</label>　　
          <label><%= form.radio_button :admin, false %>　無し</label>
        </td>
      </tr>
    </table>
    <br>
    <%= form.submit "Create" %>
  <% end %>
