<!DOCTYPE html>
<html>
  <head>
    <title>e*l</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>

  <body>
    <header>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">Task</a>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <% if logged_in && current_user.admin? %>
                <li><a href="/tasks">List</a></li>
                <li><a href="/tasks/new">New</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sort<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/tasks?sort_expired=true"><%= t('task.limit') %></a></li>
                    <li><a href="/tasks?sort_prioritized=true"><%= t('task.priority') %></a></li>
                  </ul>
                </li>
                <li><%= link_to "Mypage", user_path(current_user.id) %></li>
                <li><%= link_to "Log Out", session_path(current_user.id), method: :delete %></li>
                <li><%= link_to "Admin", admin_users_path %></li>
              <% elsif logged_in %>
                <li><a href="/tasks">List</a></li>
                <li><a href="/tasks/new">New</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sort<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/tasks?sort_expired=true"><%= t('task.limit') %></a></li>
                    <li><a href="/tasks?sort_prioritized=true"><%= t('task.priority') %></a></li>
                  </ul>
                </li>
                <li><%= link_to "Mypage", user_path(current_user.id) %></li>
                <li><%= link_to "Log Out", session_path(current_user.id), method: :delete %></li>
              <% else %>
                <li><a href="/sessions/new">Log In</a></li>
                <li><a href="/users/new">Sign Up</a></li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>

    </header>

    <%= yield %>

    <footer>
    </footer>
  </body>
</html>
